* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "roboto", sans-serif;
  }
  
  a {
    color: #666a6e !important;
    text-decoration: none;
    padding: 20px;
    margin-top: 20px;
  }
  
  a:hover {
    color: rgb(0, 0, 0) !important;
  }
  
  a.active {
    color: #666a6e !important;
  }
  